<!DOCTYPE html>
{% load static %}

<html>
    <table>
        <tr>
            <td>
                Hello World
            </td>
        </tr>
        <tr>
            <td>
                Nama
            </td>
            <td>
                Raja Sihombing
            </td>
        </tr>
        <tr>
            <td>
                NPM
            </td>
            <td>
                1906308066
            </td>
        </tr>
        <tr>
            <td>
                Angkatan
            </td>
            <td>
                2019
            </td>
        </tr>
        <tr>
            <td>
                Hobi
            </td>
            <td>
                Main game, Mendengarkan musik
            </td>
        </tr>
        <tr>
            <td>
                Deskripsi diri
            </td>
            <td>
                Saya merupakan orang yang sangat antusias terhadap teknologi
            </td>
        </tr>
        <tr>
            <td>
                Tempat Kuliah
            </td>
            <td>
                Fasilkom Universitas Indonesia
            </td>
        </tr>
        <tr>
            <td>
                Riwat Pendidikan
            </td>
            <td>
                SMP: Don Bosco II, SMA: SMAN 68 Jakarta
            </td>
        </tr>
        <tr>
            <td>
                Media Sosial
            </td>
            <td>
                Line: rajajamessihombing
            </td>
        </tr>
    </table>
</html>