<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <!-- <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>About Me</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css"> -->

    </head>

    <body>

        
        <!-- Buat Navbar -->
        
        <!-- <nav class="navbar navbar-expand-sm navbar-light bg-light" style="background-color: #404962;">
            <a href="#" class="navbar-brands">Home</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
                <span class="navbar-toggler-icon"></span> 
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{% url 'homepage:home' %}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'homepage:aboutme' %}" class="nav-link">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'homepage:hobbie' %}" class="nav-link">Hobbies</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'homepage:reachme' %}" class="nav-link">Reach Me</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'rajasihombing:index' %}" class="nav-link">Story 1</a>
                    </li>
                </ul>
            </div>
        </nav> -->

        <!-- Baris nama / Biodata-->

        {% include "navbar.html" %}
        
        <div class="container-fluid my-container">
            <div class="row">
                <div class="col-md-4 my-col col-foto">
                    <div class="container-fluid foto";>
                    </div>
                </div>
                <div class="col-md-8 my-col col-biodata">
                    <h1 id="nama">Raja Sihombing</h1>
                </div>
            </div>
            <div class="row">
                <div class="col my-col col-cerita-singkat">
                    <p class="cerita-singkat">“ Hai! nama saya Raja Sihombing. Saya mendeskripsikan diri saya sebagai seseorang yang berantusias dalam bidang sains dan teknologi. Saat ini saya sedang menempuh pendidikan S1 di Fasilkom Universitas Indonesia. Saya sendiri merupakan orang yang senang untuk berorganisasi. Adapun beberapa soft skill yang terus saya asah hingga saat ini adalah leadership dan public speaking. Menurut saya, terlepas dari seberapa pintar orang dalam akademis, dua hal tersebut sangatlah perlu untuk dikuasai. “
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 order-md-12 my-col col-education">
                    <h1 id="edukasi">Education</h1>
                </div>
                <div class="col-md-7 order-md-1 my-col col-sekolah-dimana">
                    <div class="pendidikan">
                        <h2>Don Bosco II</h2>
                        <h2>SMAN 68 Jakarta</h2>
                        <h2>Fasilkom UI</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 my-col col-track">
                    <h1 id="track-record">
                        Track Record
                    </h1> 
                </div>
                <div class="col-md-5 my-col col-pengalaman">
                    <div class="pengalaman">
                        <h2>Ketua Osis SMAN 68 Jakarta</h2>
                        <h2>Perlap Wisgan</h2>
                        <h2>Sponsorship Compfest 12</h2>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>