<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">

    </head>
    <body style="background-color: #FFDA58">

        
        <!-- Buat Navbar -->
        
        <!-- <nav class="navbar navbar-expand-sm navbar-light bg-light" style="background-color: #404962;">
            <a href="#" class="navbar-brands">Home</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
                <span class="navbar-toggler-icon"></span> 
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{% url 'homepage:home' %}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'homepage:aboutme' %}" class="nav-link">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'homepage:hobbie' %}" class="nav-link">Hobbies</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'homepage:reachme' %}" class="nav-link">Reach Me</a>
                    </li>
                </ul>
            </div>
        </nav> -->

        <!-- Baris nama / Biodata-->
        
        <div class="container-fluid home-container">
            <div class="row home-row">
                <div class="col-md-4 home-col">
                    <a href="{% url 'homepage:aboutme' %}" class="nav-link">
                        <div class="home-1">
                            <p class="home-text">
                                A<br>B<br>O<br>U<br>T<br><br>M<br>E
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 home-col">
                    <a href="{% url 'homepage:hobbie' %}" class="nav-link">
                        <div class="home-2">
                            <p class="home-text">
                                H<br>O<br>B<br>B<br>I<br>E<br>S
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 home-col">
                    <a href="{% url 'homepage:reachme' %}" class="nav-link">
                        <div class="home-3">
                            <p class="home-text"> 
                                C<br>O<br>N<br>T<br>A<br>C<br>T
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>