<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>REACH ME</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">

    </head>

    <body>

        
        <!-- Buat Navbar -->
         
        <nav class="navbar navbar-expand-sm navbar-light bg-light" style="background-color: #404962;">
            <a href="#" class="navbar-brands">Home</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
                <span class="navbar-toggler-icon"></span> 
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{% url 'homepage:home' %}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'homepage:aboutme' %}" class="nav-link">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'homepage:hobbie' %}" class="nav-link">Hobbies</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'homepage:reachme' %}" class="nav-link">Reach Me</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Baris nama / Biodata-->
        
        <div class="container">
            <h1 style="text-align: center;">S C H E D U L E</h1>
                <div class="row">
                    <div class="col-sm-6">
                            <form action='' method="POST">
                                {% csrf_token %}
                                {{ form }}
                                <br>
                                <div class="centre-items">
                                    <input type="submit" class="btn btn-primary" value="Add Schedule" style="background-color: black; border-color: black;">
                                </div>
                            </form>
                    </div>
                      <div class="col-sm-6">
                        <table class="table">
                            <thead>
                            <tr>
                               <th scope="col">Mata Kuliah</th>
                               <th scope="col">Dosen</th>
                               <th scope="col">SKS</th>
                               <th scope="col">Deskripsi</th>
                               <th scope="col">Semester</th>
                               <th scope="col">Kelas</th>
                               <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <br>
                        <tbody>
                            {% for jadwal in schd %}
                            <tr>
                                <th scope="row">{{jadwal.matkul}}</th>
                                <td>{{jadwal.dosen}}</td>
                                <td>{{jadwal.sks}}</td>
                                <td>{{jadwal.deskripsi}}</td>
                                <td>{{jadwal.semester}}</td>
                                <td>{{jadwal.kelas}}</td>
                                <td><a href="{% url 'homepage:delete' pk=jadwal.pk %}"><button class="btn btn-icon btn-danger"><i class="fa fa-trash"></i></button></a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                          </div>
                      </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>