
.navbar {
    background-color: #404962 !important;
}
#navhobbie{
    background-color: #307B6E !important;
}
.row {
    /* border-color: red;
    border-width: 5px;
    border-style: solid; */
}

.my-col {
    /* border-color: blue;
    border-width: 5px;
    border-style: solid; */
}

.col {
}

.my-container {
    background-color: #5D6EA9;
    /* width: 100%; */
} 

.my-container {
    background: #E5E5E5;
}

.col-biodata {
    background-image: url('/static/Frame 6.png');
    background-size: contain;
    background-size: 100% 100%;
    
}

.col-foto {
    background: #5D6EA9;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.foto {

    position: relative;
    width: 259px;
    height: 300px;
    background: url('/static/resize.jpg');
    border-radius: 74px;

    
}

#nama {
    color: white;
    /* border: 3px solid #73AD21; */
    width: fit-content;
    margin-right: 20%;
    margin-left: 25%;
    margin-top: 30%;
    margin-bottom: 30%;
    font-size: 68px;
    /* margin-bottom: auto; */
    /* margin-top: auto; */
}

.cerita-singkat {
    font-family: Comic Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 3vw;
    padding-left: 5%;
    padding-right: 5%;

}

.col-cerita-singkat {
    background: #FFDA58;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-sekolah-dimana {
    background-image: url('/static/Frame 8.png');
    background-size: contain;
    background-size: 100% 100%;

    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.col-education {
    background-color: #5D6EA9;
    display: flex;
    justify-content: center;
    align-items: center;
}

#edukasi {
    /* border: 3px solid #73AD21; */
    color: white;
    width: fit-content;
    /* padding: 20%; */
    padding-top: 40%;
    padding-bottom: 40%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 80px;

}

.pendidikan {
    /* border: 3px solid #73AD21;     */
    padding-top: 25%;
    padding-bottom: 25%;
    padding-left: 10%;
    padding-right: 30%;
}

.pendidikan h2 {
    color: white;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 90px;
}

#track-record {
    color: white;
    /* border: 3px solid #73AD21; */
    width: fit-content;
    /* padding: 20%; */
    padding-top: 30%;
    padding-bottom: 30%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
}

.col-pengalaman {
    background-image: url('/static/Frame 9.png');
    background-size: contain;
    background-size: 100% 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.col-pengalaman h2 {
    text-align: center;
    color: white;
    line-height: 90px;

}

.pengalaman {
    /* border: 3px solid #73AD21; */
    /* padding-bottom: 10%; */
    padding-top: 50%;
    padding-left: 10%;
    padding-right: 10%;
}

.col-track {
    background-color: #5D6EA9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-hobbie-game {
    background-image: url('/static/game.png');
    /* background-size: contain; */
    background-size: 100% 100%;

}

.col-hobbie-music {
    background-image: url('/static/music.png');
    /* background-size: contain; */
    background-size: 100% 100%;

}

.col-md-4.col-hobbie-read{
    background-image: url('/static/read.png');
    /* background-size: contain; */
    background-size: 100% 100%;
}

.col-sosmed{
    background: #FFD3B4;
    /* height: 100px; */
}

#table-biodata {
    padding-bottom: 300px;
    
}

#tr{
    padding-top: 0%;
}
@media screen and (max-width: 600px) {
    .col-cerita-singkat p{
        font-color: red;
        font-size: 30px;
    }
  }

.home-row {
    /* border: 3px solid red; */
}

.home-col {
    /* border: 3px solid blue; */
    height: 725px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-1 {
    position: relative;
    width: 190px;
    height: 400px;
    margin-top: 30%;
    margin-bottom: 30%;

    background: #5D6EA9;
    border-radius: 68px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home-2 {
    position: relative;
    width: 190px;
    height: 400px;
    margin-top: 30%;
    margin-bottom: 30%;

    background: #16CAA9;
    border-radius: 68px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home-3 {
    position: relative;
    width: 190px;
    height: 400px;
    margin-top: 30%;
    margin-bottom: 30%;

    background: #FF9F76;
    border-radius: 68px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home-text {
    position: relative;
    width: fit-content;
    height: 350px;
    /* left: 669px;
    top: 233px; */

    /* border: 3px solid #73AD21; */

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    /* or 100% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.col-hobbie {
    /* border: 5px solid red; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.row-hobbie {
    /* border: 5px solid blue; */
}

.isi-hobbie {
    /* border: 3px solid black; */
    
    text-align: center;
    padding-bottom: 50%;
    margin-left: 20%;
    margin-right: 20%;
    
}

#game p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 50px;
    /* or 150% */

    display: flex;
    align-items: center;

    color: #DDE4FF;
}

#game h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 65px;
    line-height: 50px;
    /* or 200% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

#music p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 50px;
    /* or 150% */

    display: flex;
    align-items: center;

    color: #810000;
}

#music h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 65px;
    line-height: 50px;
    /* or 200% */
     text-align: center;
     /* width: fit-content;

    display: flex;
    align-items: center; */
   

    color: #810000;
}

#read p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 50px;
    /* or 150% */

    display: flex;
    align-items: center;

    color: #BF4500;
}

#read h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 65px;
    line-height: 50px;
    /* or 200% */

    /* display: flex;
    align-items: center; */
    text-align: center;

    color: #BF4500;
}

.row-reach-me{
    background: #FFD3B4;
    /* border: 3px solid blue; */
    display: flex;
    justify-content: center;
    /* align-items: center; */

    text-align: center;
}

.col-sosmed {
    /* border: 3px solid red; */
    /* width: 100%; */
    display: flex;
    justify-content: center;
    text-align: center;

}

#reach-h1 {
    /* border: 3px solid black; */
    padding-top: 200px;
    padding-bottom: 20%;
    
    height: 600px;
}

#reach-h1 h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 60px;
    /* or 75% */

    color: #545454;
}

.col-sosmed h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;

    color: #000000;

}

.ig {
    background-color: #F9D34D;
}

.line {
    background-color: #16CAA9;
}

.email {
    background-color: #FF7E7E;
}

.spotify {
    background-color: #5D6EA9;
}

.my-container-reach{
    background-color: #FFD3B4;
}